
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
#library/
#temp/
local/
build/
#profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/
temp/
#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

yarn.lock
package-lock.json